/*
 * -------------------------------------------------
 *  NF-variant config file
 * -------------------------------------------------
 * Default config options
 *
 */

// Input and output parameters
params {

    // Workflow flags
    indivs_file = "/path/to/indivs.LIST"
    chromos_file = "/path/to/chromos.LIST"
    ref_file = "/path/to/reference.fasta"
    inputdir = "/path/to/bam_folder/"
    outputdir = "/path/to/output_folder/"

    sex_chromos = ['chrZ', 'chrW']

    calc_coverage = true        // One option to run this workflow is in two goes. First run calc_coverage, after which filtering settings can be adjusted. IF SO, then set everything else to false
    indiv_var_call = true
    pops_var_call = false       // This is still in development and inactive at the moment 
    calc_missing_data = true    // If we generate mask files, see below, how much sites in consensus are masked?
    call_consensus = true

    // For the sequencing depth plots, how many indivs per row?
    // NOTE: Ensure that each row has roughly the same number of indivs otherwise the last row is deformed
    plots_per_row = 7

    // Settings for variant calling and filtering
    filt_indels = true

    // Create mask files to exclude sites from consensus sequence
    mask_hets = true
    mask_cov = true
    mask_min_cov = 2
    mask_max_cov = 120

}

// Cluster specific profiles that faciliate job scheduling and cluster requirements
profiles {

    curta {
       //Freie Universitat cluster
        includeConfig 'config/curta.config'
    }
}
