/*
 * -------------------------------------------------
 *  Nextflow config file for running nf-var on Curta cluster
 * -------------------------------------------------
 *   Use as follows:
 *   nextflow run main.nf -profile mfn
 */

executor {
    name = 'slurm'
    // The number of tasks the executor will handle in a parallel manner (default: 100).
    queueSize = 100
    // Determines the max rate of job submission per time unit, for example '10sec' eg. max 10 jobs per second
    submitRateLimit = '1/1sec'

    pollInterval = '10 sec'
    queueStatInterval = '10m'
}

process {
    config_profile_name = 'Curta cluster profile'
    config_profile_description = 'Profile that works well with the Freie Unvirsity Curta cluster'
    executor = 'slurm'
    queue = 'xxx'
    clusterOptions = '--exclude=b003,b004 --constraint=no_gpu --qos=standard'
    cpus = { 1 * task.attempt }
    memory = { 4.GB * task.attempt }
    time = { 4.h * task.attempt }
    beforeScript = 'module load Anaconda3'
    conda = '/path/to/.conda/envs/nf-var'

    errorStrategy = { task.exitStatus in [104, 134, 137, 139, 140, 143, 247] ? 'retry' : 'finish' }
    maxRetries = 3
    maxErrors = '-1'

    withLabel: 'Endurance' {
        cpus = { 1 * task.attempt }
        memory = { 4.GB * task.attempt }
        time = { 12.h * task.attempt }
    }

}
